.hero{
    padding-top: 114px;
    position: relative;
    display: block;
}

.hero_img img{
    height: 400px;
}
.hero_container{
    align-items: center;
}

.hero_container h4{
    font-size: 28px;
    font-weight: 600;
    color: var(--main-color);
    text-transform: uppercase;
}
.hero_container h1{
    font-size: 40px;
    font-weight: 600;
    font-family: 'Poppins',sans-serif;
    white-space: nowrap;
    margin-bottom: 10px;
    color: var(--title-color);
}

.hero_container p{
    margin: 10px 0 40px;
    color: #333;
    font-size: 18px;
}
.hero_container .btn{
    margin-top: 30px;
    display: inline-flex;
    align-items: center;
}

.hero_social{
    display: flex;
    column-gap: 20px;
}

.hero_social a{
    font-size: 22px;
    display: inline-flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    color: #333;
    transform: .3s;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.hero_social a:hover{
    color:var(--main-color);
    box-shadow: 0 0 10px var(--main-color);
}
.hero_img{
    text-align: right;
}